body {
  background-color: rgb(50, 50, 50);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Verdana";
  font-size: 16px;
  color: white;
}

#drum-machine {
  background-color: rgb(150,150,150);
  width: 450px;
  height: 650px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -10px;
  border-radius: 25px;
}

.drum-pad {
  width: 125px;
  height: 125px;
  margin: 5px;
  font-size: 32px;
  font-family: "sans serif";
  border-radius: 25px;
}

#display {
  font-size: 36px;
  margin-top: 50px;
  min-height: 50px;
}