body {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
  font-size: 20px;
  background-color: rgb(35,35,35);
}

#title-area {
  margin-top: 25%;
  background-color: rgb(200, 200, 100);
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}

#main-area {
  padding-top: 5%;
  background: radial-gradient(circle,rgba(45, 90, 30, 1) 0%, rgba(148, 187, 233, 1) 100%);
  height: 40vh;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#text-input {
  height: 200px;
  width: 350px;
  font-size: 18px;
  padding: 10px;
}

.para {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.warning {
  color: red;
}