body {
  background-color: rgb(0, 75, 123);
  font-family: Arial;
  text-align: center;
}

.form-container {
  background-color:#b1b1b1;
  border-radius: 5px;
  padding: 35px 100px;
  margin: auto;
  width: 50%;
}

label {
  margin: 15px auto;
  color: hsl(180, 50%, 25%);
  display: block;
}

input, textarea {
  width: 100%;
  padding: 5px 0;
  margin: auto;
  display: block;
}

button {
  background-color: #000033;
  color: #F0F0F0;
  margin: 10px 0 0 0;
  font-size: 24px;
  border-radius: 5px;
}

button:hover {
  background-color: #9999FF;
  transition: 0.3s;
}
