* {
  box-sizing: border-box;
}

body {
  background-color: grey;
  text-align: center;
  font-family: Verdana;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.gallery-item {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 0.2s;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-heading{
  background-color: rgb(100,100,50);
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10%;
}

.lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(50,50,100, 0.75);
  display: none;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-direction: column; 
}

#lightbox-image {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

#close-btn {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 20px;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  font-size: 32px;
  color: grey;
}


