html {
  box-sizing: border-box;
  font-family: Arial;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

header {
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#navbar {
  width: 250px;
  height: 100%;
}

.nav-link {
  border-bottom: 1px solid black;
  display: block;
  color: #555555;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  display: flex;
}

#divvy-div {
  width: 2px;
  background-color: #555555;
  padding: 0;
}

#sections-div {
  padding-left: 10px;
}

#menu-header {
  margin: 10px auto;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.nav-link:last-of-type {
  border-bottom: none;
}

.nav-link:first-of-type {
  padding-top: 10px;
}

code {
  padding-left: 75px;
}

p {
  padding-left: 25px;
}

ul {
  padding-left: 100px;
}

@media screen and (min-width: 1025px) {
  #navbar {
    position: sticky;
    left: 0;
    top: 0;
    width: 250px;
    height: 100px;
  }
}