body {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: Arial;
}

.list-title {
  font-size: 32px;
  text-align: center;
  font-family: Verdana;
}

.item-text {
  padding-right: 10px;
}

#items-div {
  width: 25%;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
}

.item {
  padding-bottom: 20px;
}

.favorite-icon {
  margin-right: 25px;
  float: right;
}

.filled {
  background-color: pink;
}