*, ::before, ::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  display: grid;
}

body {
  font-family: 'Baskervville', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.newspaper-layout {
  display: grid;
  grid-template-areas: 
  "title title title"
  "feature-article feature-article cover-image"
  "secondary-article secondary-article cover-image"
  "small-article1 small-article2 small-article3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 3em;       
}

.title {
  grid-area: title;
}

.feature-article {
  grid-area: feature-article;
}

.cover-image {
  grid-area: cover-image;
}

.secondary-article {
  grid-area: secondary-article;
}

.small-article1 {
  grid-area: small-article1;
}

.small-article2 {
  grid-area: small-article2
}

.small-article3 {
  grid-area: small-article3;
}

.cover-image img {
  max-width: 100%;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}